<mat-toolbar color='primary'>

  <a routerLink="/home">{{ appName }}</a>

  <span class="fill-remaining-space"></span>

  <a routerLink="/home">
    <button mat-flat-button color="primary">
      Inicio
    </button>
  </a>

  <a routerLink="/tecnology">
    <button mat-flat-button color="primary">
      Tecnologias
    </button>
  </a>

  <a routerLink="/proyects">
    <button mat-flat-button color="primary">
      Proyectos
    </button>
  </a>

  <a routerLink="/others">
    <button mat-flat-button color="primary">
      otros Servicios
    </button>
  </a>

  <a routerLink="/contact">
    <button mat-flat-button color="primary">
      Contacto
    </button>
  </a>

</mat-toolbar>
